@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "ForgotPassword";
}
<div class="login-wrapper">
    <div class="logo">TASKA</div>

    <form id="forgotPasswordForm" method="post">
        @if (!string.IsNullOrEmpty(Model.Email))
        {
            <input type="hidden" asp-for="Email" />
        }
        @if (ViewData["CurrentStep"] == null || (int)ViewData["CurrentStep"] == 1)
        {
            <div id="step1">
                <div class="login-container">
                    <div class="form-title">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</div>
                    <p style="text-align:center; font-size:14px;">Введите почту, чтобы получить код</p>

                    <div class="input-group">
                        <input asp-for="Email" placeholder="Почта xx@xx.xx" required />
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="blue-button">Отправить код</button>
                </div>
            </div>
        }
        else if ((int)ViewData["CurrentStep"] == 2)
        {
            <div id="step2">
                <div class="login-container">
                    <div class="form-title">ПОДТВЕРДИТЕ EMAIL</div>
                    <p style="text-align:center; font-size:14px;">Введите код из письма</p>

                    <div class="input-group">
                        <input asp-for="Code" placeholder="Код из письма" required />
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="blue-button">Продолжить</button>
                </div>
            </div>
        }
        else if ((int)ViewData["CurrentStep"] == 3)
        {
            <div id="step3">
                <div class="login-container">
                    <div class="form-title">НОВЫЙ ПАРОЛЬ</div>
                    <p style="text-align:center; font-size:14px;">Придумайте новый пароль</p>

                    <div class="input-group">
                        <input asp-for="NewPassword" type="password" placeholder="Новый пароль" required />
                    </div>
                    <div class="input-group">
                        <input asp-for="ConfirmPassword" type="password" placeholder="Подтвердите пароль" required />
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="blue-button">Сохранить пароль</button>
                </div>
            </div>
        }
    </form>

    <div style="margin-top: 15px;">
        <a href="/Authorization" style="font-size: 16px; color: #2954EC; text-decoration: underline;">Назад к входу</a>
    </div>
</div>