@page
@model RegistrationModel
@{
	ViewData["Title"] = "Registration";
}

<div class="login-wrapper">
    <div class="logo">TASKA</div>

    <form id="form1" method="post">
        <div class="registration-container">
            <div class="form-title">ЗАПОЛНИТЕ ВАШИ ДАННЫЕ</div>

            <div class="input-group">
                <input asp-for="Surname" placeholder="Фамилия">
            </div>
            <div class="input-group" style="display: flex; gap: 15px;">
                <input asp-for="Name" placeholder="Имя" style="flex: 1;">
                <input asp-for="LastName" placeholder="Отчество" style="flex: 1;">
            </div>
            <div class="input-group">
                <input asp-for="Email" placeholder="Почта xx@xx.xx">
            </div>

            <div class="input-group" style="display: flex; gap: 15px;">
                <input asp-for="Password" type="password" style="flex: 1;" placeholder="Пароль">
                <input asp-for="RepeatPassword" type="password" style="flex: 1;" placeholder="Повторите пароль">
            </div>
        </div>
        <div class="button-container">
            <button type="submit" class="blue-button">Зарегистрироваться</button>
        </div>
    </form>

    
    <p style="margin-top: 10px; font-size: 17px;">или</p>
    <p style="font-size: 17px;">Есть аккаунт? <a href="/Authorization" style="font-size: 19px; color: #2954EC;">Войти</a></p>
    
</div>


